.about-us-header {
  background: #0a301c;
  border-radius: 32px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 8px 16px;
  margin-bottom: 20px;
  width: max-content;
}
.about-us-left {
  display: flex;
  height: 100%;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  padding: 40px 100px;
  @include touch {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  @include mobile {
    .menu-button {
      width: 100%;
    }
  }
}
.about-us-headline {
  font-family: Vidaloka;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 44px;
  color: #080809;
  margin-bottom: 16px;
  width: 70%;
}
.about-us-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #080809;
  margin-bottom: 16px;
}
.about-us-subtext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #808087;
  margin-bottom: 24px;
}
.about-us-content {
  display: flex;
  align-items: center;
  margin: 150px 100px 130px;
  @include touch {
    flex-direction: column;
    margin: 50px 16px 60px;

    .menu-button {
      display: flex;
      justify-content: center;
    }
  }
}
.about-us-content {
  .column {
    padding: 0;
  }
  .about-us-right {
    display: flex;
    width: 100%;
    .about-us-images-left-col {
      width: 50%;
      height: 650px;
      img {
        height: 40%;
        width: 95%;
      }
      img:not(:last-child) {
        margin-bottom: 17px;
      }
      img:first-child {
        height: 60%;
      }
      @include touch {
        height: 450px;
        img:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    .about-us-images-right-col {
      width: 50%;
      height: 650px;
      margin-left: 10px;
      img {
        height: 40%;
        width: 95%;
      }
      img:not(:last-child) {
        margin-bottom: 17px;
      }
      img:last-child {
        height: 60%;
      }
      @include touch {
        height: 450px;
        margin-left: 0px;
        img:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
.height-60 {
  height: 58%;
  width: 100%;
}
.height-40 {
  height: 40%;
  width: 100%;
}
.height-100 {
  height: 100%;
}
@media only screen and (max-height: 876px) {
  .about-us-left {
    padding: 0;
  }
  .contact-background {
    height: min-content;
  }
}

.width-80 {
  width: 80%;
}
