.events-container {
  display: flex;
  width: 100%;
  height: min-content;
  background-color: #0a301c;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  -webkit-scrollbar {
    display: none;
  }
}

.event-header {
  font-family: Vidaloka;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 32px;
}

.event-subheader {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  color: #9eb1a7;
}

.event-card-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: min-content;
  background-color: #ffffff;
  img {
    height: 180px;
    width: auto;
  }
  .menu-button {
    display: flex;
    justify-content: center;
  }
}

.title-event-time-container {
  padding: 16px 20px 20px 20px;
  border-bottom: 1px solid #e7e7e7;
}

.title {
  font-family: Vidaloka;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #39312a;
  text-align: left;
}

.event-time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  color: #39312a;
}

.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(57, 49, 42, 0.7);
  margin-bottom: 16px;
  text-align: left;
}

.margin-bot-28 {
  margin-bottom: 28px;
}

.full-width {
  width: 100%;
}
.description-and-menu-button {
  margin: 16px 20px;
}

.events-gallery {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: auto;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.event-list {
  display: flex;
  flex-direction: row;
}

// DINOOO

.events-container::-webkit-scrollbar {
  display: none;
}

.events-gallery::-webkit-scrollbar {
  display: none;
}

.events {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 80px;
  position: relative;
  -webkit-scrollbar {
    display: none !important;
  }

  @include touch {
    margin-bottom: 40px;
    margin-top: 8rem;
  }

  &-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    @media only screen and (max-width: 1350px) {
      overflow-x: scroll;
      overflow-y: hidden;

      ::-webkit-scrollbar {
        display: none;
      }
      .pagination {
        margin: 24px auto 48px auto;
      }
    }

    @media only screen and (max-width: 900px) {
      padding: 0 !important;
      .event-header {
        padding-top: 2rem;
      }
    }

    .card {
      height: auto;
      width: 25%;
      min-width: 270px;

      &-header {
        min-height: 110px;
      }

      &-footer-item {
        font-size: 16px;
      }

      &-content-description {
        color: rgba(#fff, 0.7);
        min-height: 120px;
      }
    }

    .card:not(:last-child) {
      margin-right: 24px;
    }
  }

  @include touch {
    margin-top: 48px;

    &-title {
      font-size: 32px;
    }
  }

  .event-time {
    text-align: left;
    color: #39312a;
    font-family: $family-secondary;
  }

  .pagination {
    margin: 24px auto;
    min-width: 200px;
    max-width: 210px;
    display: flex;
    align-items: center;
    margin-top: 25px !important;

    &-back {
      margin-right: 24px;
    }

    &-forward {
      margin-left: 24px;
    }
  }

  &-decor {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    &-left {
      left: 24px;
    }

    &-right {
      right: 24px;
    }

    @media only screen and (max-width: 1570px) {
      display: none;
    }
  }
}

.events-gallery-picture {
  width: 150px;
  height: 100px;
  width: 100px;
}
.events-gallery-picture {
  width: 100px;
  height: 100px;
}

.events-gallery {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  width: auto;
}

.event-buttons {
  display: flex;
  flex-direction: row;
  .lasmer-button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ca9f68;
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid #ca9f68;
    width: 45%;
    margin-right: 12px;
    cursor: pointer;
  }
}

.events-green-background {
  background-color: #0a301c;
}

.events {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 36px;
}

@media only screen and(max-width: 480px) {
  .events {
    .columns {
      overflow-x: scroll;
      display: flex;
      padding: 0 16px;
    }
    .column {
      padding: 0.5rem;
    }
  }

  .event-card-container {
    margin-right: 16px;
  }

  .events {
    .event-card-container:last-child {
      margin-right: 0px;
    }
  }
}

@include desktop {
  .image-res {
    height: 320px;
    width: 432px;
    img {
      width: 432px;
      min-width: 432px;
      height: 320px;
      min-height: 320px;
      object-fit: cover;
    }
  }
}

.event-modal {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(238, 238, 238, 0.4);
  justify-content: center;
  align-items: center;
  .column {
    z-index: 99;
  }

  .event-card-content {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    .event-card-container {
      position: relative !important;
    }
  }
}
.close-event-modal-button {
  position: absolute;
  top: -44px;
  right: -45px;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .close-icon {
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 6px;
    font-weight: 100;
  }
  @include mobile {
    width: 40px;
    height: 40px;
  }
}
