.hero {
  min-height: 800px;
  position: relative;
  width: 100% !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  background-image: url(../../assets/images/dashboard-background.svg);

  &-content {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @include touch {
      top: 28%;
    }

    @media only screen and (max-width: 476px) {
      p {
        font-size: 16px;
      }
    }
  }

  &-decoration img {
    width: 200px;
    height: 18px;
  }

  &-card {
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.32);
    border: 1px solid #bfbfbf;
    backdrop-filter: blur(24px);
    padding: 20px 32px;
    position: relative;
    z-index: 1;

    @include touch {
      padding: 12px 24px;
      height: auto;
      min-height: 100px;
    }

    .title {
      font-family: Vidaloka;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      text-transform: uppercase;

      color: #ffffff;
    }

    .address {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;

      color: #ffffff;
    }

    &-image {
      width: 46px;
      height: 46px;

      min-width: 46px;
      min-height: 46px;

      margin-right: 20px;
      // background-color: white;
      // border-radius: 9999px;

      // padding: 12px 14px 6px 14px;

      img {
        width: 100%;
      }
    }

    &-content {
      width: 100%;

      // .button,
      // .dropdown,
      // .dropdown-trigger {
      //   width: 100%;
      // }
    }
  }

  &-dots {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 100px;

    &-dot {
      border-radius: 9999px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: rgba(#c4c4c4, 0.5);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 24px;
      }

      &:hover {
        background-color: #fff;
      }

      &.is-active {
        background-color: #fff;
      }
    }
  }

  .cards-container {
    width: 100%;
    position: absolute;
    bottom: 40px !important;

    @include touch {
      bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.headline {
  font-family: Vidaloka;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 83px;
  color: #ffffff;
}

.subheadline {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.hero-content {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  flex-direction: column;
}

// @media only screen and (min-width: 1440px) and (max-width) {
//   .hero-content {
//     left: 60%;
//     margin: auto;
//   }
// }

.dropdown-menu {
  background: #ca9f68;
  top: 58px;
  width: max-content;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}

.dropdown-item {
  display: flex;
  background: #ca9f68;
  justify-content: space-between;
  .time-of-work-title {
    font-family: Vidaloka;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #39312a;
    margin-left: 10px;
    padding: 0 16px;
  }
  .weekday {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #39312a;
  }
  .worktime {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #39312a;
  }

  .time-of-work-footer {
    p {
      font-family: Vidaloka;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #39312a;
    }
  }
}

.dropdown-divier {
  background: #ca9f68;
}

.dropdown-content {
  background-color: #ca9f68;
}

.hero-content {
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .hero-content {
    text-align: left;
    width: 100%;
    display: flex;
    margin: 0px;
    padding-left: 20px;
  }
  .headline {
    font-size: 52px;
    line-height: 53px;
  }
}

.hero-feature {
  border-radius: 32px;
  border-style: none;
  text-align: center;
  background-color: #fff;
  padding: 8px 16px;
  width: min-content;
  font-family: MontSerrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #39312a;
  margin-bottom: 12px;
}
.white-caution-circle {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  padding-bottom: 16px;
  border-radius: 40px;
}

.caution-sign {
  color: #ca9f68;
  text-align: center;
  font-weight: bold;
  margin-left: 2px;
}

.time-of-work-title {
  display: flex;
  flex-direction: row;
}

.icon-24 {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.basket-icon {
  margin-top: 5px;
  svg {
    width: 19px;
    height: 16.6px;
  }
}

.align-left {
  display: flex;
  justify-content: left;
  margin-left: 0 !important;
  padding: 0 !important;
  text-align: left;
}

// @media only screen and (min-width: 1580px) and (max-width: 1900px) {
//   .hero-content {
//     left: 53%;
//   }
// }
// @media only screen and (min-width: 1920px) and(max-width: 2500px) {
//   .hero-content {
//     left: 60%;
//   }
// }

// @media only screen and (min-width: 2560px) {
//   .hero-content {
//     left: 69%;
//   }
// }

.high-index {
  z-index: 2;
}

@include mobile {
  .hero-cards {
    .column {
      padding: 0.25rem 0.75rem;
    }
  }
}
