.green-background {
  background-color: #0a301c;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  overflow-y: auto;
}

.green-background::-webkit-scrollbar {
  display: none;
}

.menu-header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  border-bottom: 1px solid #ffffff;
  .logo-component {
    width: 300px;
  }
}

.restaurant-menu-content {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-content: center;
  padding: 30px 0;
}
.pdf-download {
  background-color: #ca9f68;
  padding: 16px 16px;
  border-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    margin-left: 13px;
  }
}

.menu-header-title {
  font-family: Vidaloka;
  font-size: 40px;
  line-height: 110%;
  color: #fff;
}

.name-and-price {
  padding-top: 24px;
  .columns {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .menu-header {
    margin: 0px;
  }
}

.regular-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 24px;
  -webkit-column-gap: 24px;
  column-gap: 24px;
  justify-content: center;
}

.menu-card-item {
  width: 22%;
  height: min-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.menu-mealName {
  font-family: Vidaloka;
  font-size: 22px;
  line-height: 24px;

  letter-spacing: 0.5px;
  color: #ffff;
}

.lunch-category {
  font-family: Vidaloka;
  font-size: 32px;
  line-height: 39px;

  letter-spacing: 0.5px;
  color: #ffff;
  margin-bottom: 56px;
  margin-left: 3.5%;
}

.category-and-menu {
  padding: 0 56px 56px 56px;
  margin: 0 56px;
}
.menu-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ca9f68;
  display: flex;
  flex-direction: row;
}

.menuItem-description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  color: rgba(255, 255, 255, 0.8);
}

.menu-card-item {
  .name-and-price {
    padding-top: 24px;
  }
  .menuItem-description {
    padding-bottom: 16px;
  }
}

.is-clipped {
  overflow: hidden;
}

.close-modal-button {
  position: absolute;
  top: 50px;
  right: -40px !important;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .green-background {
    padding: 0;
  }
  .mobile-header {
    img {
      width: 250px;
      margin-top: 25px;
      margin-left: 25px;
    }
  }
  .close-modal-button {
    top: 29px;
    right: 15px;
    height: 40px;
    width: 40px;
    position: fixed;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .menu-header-title {
    font-size: 32px;
  }

  .menu-header {
    width: 100%;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .pdf-download {
    padding: 8px 8px;
    margin-right: 16px;
  }

  .regular-menu {
    flex-direction: column;
  }

  .lunch-category {
    margin-bottom: 32px;
    margin-left: 4%;
  }

  .menu-card-item {
    width: 100%;
    padding: 10px 10px 10px 15px;
    img {
      margin: 0px;
      width: 100%;
    }
  }

  .restaurant-items-container {
    padding: 32px 0 !important;
  }
  .restaurant-menu-content {
    padding: 0px;
  }
}

.restaurant-items-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-card-image {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1440px) {
  .close-modal-button {
    right: -110px;
  }
}
